.DS_Store
node_modules
/dist
\#*\#
.\#*
.idea
*.iml
*.sublime-project
*.sublime-workspace
/.vscode/
TAGS
*.log
*.out
npm-debug.log
universe
.babel-cache

# core packages shouldn't have .versions files
packages/*/.versions

# packages shouldn't have .npm on Git
packages/**/.npm
