/* CSS declarations go here */

body {
  font-family: sans-serif;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

header {
  background: #d2edf4;
  padding: 20px 15px 15px 15px;
  position: relative;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}


@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
}
