body {
    padding-top: 60px;
    padding-bottom: 40px;
}

#testProgressBar {
    margin-top: 10px;
}

.header {
  font-family: Arial, sans-serif;
  font-size: 24px;
  padding-bottom: 4px;
}

.header.in-progress {
  color: #ccc;
}

.header.pass {
  color: #090; /* green */
}

.header.fail {
  color: #900; /* red */
  font-weight: bold;
}

.header .time {
  color: #666;
  font-size: 14px;
}

.test_table {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.test_table .group {
  border-left: 1px solid #ddd;
}

.test_table .group .group {
  margin-left: 20px;
}

.test_table .test {
  margin-left: 20px;
}

.test_table .testname {
  margin-left: 200px;
  line-height: 24px;
  vertical-align: middle;
  text-decoration: underline;
  cursor: pointer;
}

.test_table .groupname {
  font-weight: bold;
  background: #ddd;
  padding-left: 5px;
  line-height: 24px;
  vertical-align: middle;
  font-size: 16px;
}

.test_table .event {
  margin-left: 20px;
  font-size: 14px;
  border-left: 2px solid #def;
  padding: 4px;
  position: relative;
}

.test_table .test .testrow { position: relative; overflow: hidden; /*hasLayout*/ }

.test_table .running .testname { color: #66c; /* blue */ }
.test_table .failed .testname { color: #900; /* red */ }
.test_table .succeeded .testname { color: #090; /* green */ }

.test_table .teststatus {
  position: absolute;
  height: 100%;
  width: 100px;
  left: 0px;
  top: 0;
  text-align: center;
  line-height: 24px;
  vertical-align: middle;
}

.test_table .testtime {
  position: absolute;
  height: 100%;
  width: 75px;
  margin-right: 5px;
  left: 100px;
  top: 0;
  text-align: right;
  line-height: 24px;
  vertical-align: middle;
  font-size: 14px;
  color: #666;
}

.test_table .succeeded .teststatus { color: #090; /* green */  background: #cfc; }
.test_table .failed .teststatus { color: #900; /* red */  background: #fcc; }
.test_table .running .teststatus { color: #ccc; }

.test_table .event .expected_fail { color: #600; }
.test_table .event .fail { color: #d00; }
.test_table .event .exception { color: #d00; }
.test_table .event .nodata { color: #ccc; font-style: italic; }

.test_table .event .xtimes, .test_table .event .failkey { font-weight: bold; }

.test_table .event .debug {
    display: none;
}

.test_table .event:hover .debug {
    display: inline;
    color: gray;
    text-decoration: underline;
    cursor: pointer;
}

.in-progress {
    position: absolute;
    padding-left: 10px;
    top: 10px;
    z-index: 2;
}

.string_equal {
  line-height: 1.2;
  margin-left: 30px;
}
.string_equal ins {
  text-decoration: none;
}
.string_equal_expected ins {
  background: #fe0;
}
.string_equal_actual ins {
  color: #d00;
  background: #fcc;
}
