/* This file should only contain import statements, only one each for
 * the core and plugins, so that it is easy to make variations of this
 * file that exclude some plugins.
 */
@import "aloha-core.css";
@import "../plugins/common/ui/css/ui.css";
@import "../plugins/common/link/css/link.css";
@import "../plugins/common/characterpicker/css/characterpicker.css";
@import "../plugins/common/highlighteditables/css/highlighteditables.css";
@import "../plugins/common/horizontalruler/css/horizontalruler.css";
@import "../plugins/common/block/css/block.css";
@import "../plugins/common/align/css/align.css";
@import "../plugins/common/image/css/image.css";
@import "../plugins/common/table/css/table.css";
@import "../plugins/extra/cite/css/cite.css";
@import "../plugins/extra/formatlesspaste/css/formatless.css";
@import "../plugins/extra/wai-lang/css/wai-lang.css";
@import	"../plugins/extra/numerated-headers/css/numerated-headers.css";
@import "../plugins/extra/ribbon/css/ribbon.css";
@import "../plugins/extra/headerids/css/headerids.css";
@import "../plugins/extra/metaview/css/metaview.css";

