
* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

html, body {
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #eeeeee;
    color: #333333;
}

body, input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input {
  font-size: 100%;
}


.tag {
    opacity: 1;
    transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    position: relative;
}

#top-tag-filter, #main-pane, #side-pane, #bottom-pane {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

#top-tag-filter {
    height: 50px;
    bottom: auto;
}

#bottom-pane {
    height: 120px;
    top: auto;
    font-size: 80%;
    border-top: 1px solid #333;
    background: #ccc;
}

#help {
    padding: 8px;
}

#main-pane {
    top: 50px;
    bottom: 120px;
    left: 220px;
    overflow: auto;
}

#side-pane {
    top: 50px;
    bottom: 120px;
    width: 200px;
    right: auto;
    overflow: auto;
}

.tag {
    float: left;
    margin: 5px;
    padding: 2px 7px;
    font-size: 80%;
    font-weight: bold;
    background: #999;
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

#tag-filter .label {
    float: left;
    margin-top: 9px;
    margin-left: 12px;
    margin-right: 8px;
}

#tag-filter .tag {
    margin-top: 10px;
}

#tag-filter .selected {
    background: #69d;
}

#lists .list {
    padding: 3px 6px;
}

#lists .selected {
    background: #9be;
}

#createList {
    padding: 3px 6px;
    margin-top: 5px;
}

#createList input {
    width: 180px;   
}

#new-todo {
    margin-bottom: 10px;
}

#items-view {
    margin-top: 5px;
    margin-left: 5px;
}

#item-list .todo {
    display: block;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #ccc;
}

#item-list .todo .destroy {
    position: absolute;
    left: 5px;
    top: 15px;
    height: 20px;
    width: 20px;
}

#item-list .todo .display, #item-list .todo .edit {
    margin-left: 30px;
    height: 100%;
    width: auto;
    float: left;
    padding-top: 18px;
    line-height: 1;
}

#item-list .done .todo-text {
    text-decoration: line-through;
    color: #999;
}

#item-list .todo:hover .destroy {
    background: url('/destroy.png') no-repeat 0 0;
}

#item-list .todo .destroy:hover {
    background-position: 0 -20px;
}

#item-list .todo .item-tags {
    overflow: auto;
    float: right;
    margin-right: 8px;
}

#item-list .todo .item-tags .tag {
    margin-top: 15px;
}

#item-list .todo .item-tags .removable_tag {
    padding-right: 22px;
}

#item-list .todo .item-tags .tag .remove {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    background: url("/close_16.png") no-repeat center center;
}

#item-list .todo .item-tags div.addtag {
    
}

#item-list .todo .check {
    float: left;
    width: 25px;
}

#item-list .todo .todo-text {
    float: left;
    margin-left: 10px;
    font-size: 100%;
}

#item-list .todo .edit input {
    margin-left: 35px;
}

#edittag-input {
    width: 80px;
}

