{
  "env": {
    "development": {
      "plugins": [
        "transform-do-expressions",
        "proposal-optional-chaining"
      ]
    },
    "production": {
      "plugins": [
        "transform-do-expressions",
        "proposal-optional-chaining"
      ]
    }
  }
}
