#!/bin/env zsh

#
# Commands and shortcuts for Meteor core development, you can load these in your terminal by running `source .envrc`.
# Or by adding `[[ -s .envrc ]] && source .envrc` to your `.zshrc` or `.bashrc`.
#

export ROOT_DIR=$(git rev-parse --show-toplevel)

function @meteor {
   "$ROOT_DIR/meteor" "$@"
}

function @test-package {
   @meteor test-packages "$@" --exclude-archs=web.browser.legacy,web.cordova
}

function @check-syntax {
  node "$ROOT_DIR/scripts/admin/check-legacy-syntax/check-syntax.js"
}

function @generate-dev-bundle {
  "$ROOT_DIR/scripts/generate-dev-bundle.sh"
}