android_bundle/
dev_bundle/
docs/
examples/
packages/
scripts/
tools/
!tools/*.js
!tools/isobuild/*.js

# Below, files that have yet to be converted to match the linter
tools/archinfo.js
tools/auth-client.js
tools/auth.js
tools/buildmessage.js
tools/catalog/catalog-local.js
tools/catalog/catalog-remote.js
tools/catalog/catalog.js
tools/catalog/catalog-utils.js
tools/cleanup.js
tools/colon-converter.js
tools/cli/commands-cordova.js
tools/cli/commands-packages-query.js
tools/cli/commands-packages.js
tools/cli/commands.js
tools/config.js
tools/console.js
tools/deploy.js
tools/fiber-helpers.js
tools/files.js
tools/mini-files.js
tools/tool-env/flush-buffers-on-exit-in-windows.js
tools/func-utils.js
tools/http-helpers.js
tools/inspector.js
tools/isopackets.js
tools/index.js
tools/cli/main.js
tools/mongo-exit-codes.js
tools/package-client.js
tools/package-map.js
tools/package-version-parser.js
tools/processes.js
tools/tool-env/profile-require.js
tools/tool-env/profile.js
tools/progress.js
tools/project-context.js
tools/release.js
tools/run-all.js
tools/run-app.js
tools/run-httpproxy.js
tools/run-log.js
tools/run-mongo.js
tools/run-proxy.js
tools/run-selenium.js
tools/run-updater.js
tools/run-velocity.js
tools/safe-pathwatcher.js
tools/selftest.js
tools/service-connection.js
tools/shell-client.js
tools/stats.js
tools/test-utils.js
tools/tropohouse.js
tools/updater.js
tools/upgraders.js
tools/utils.js
tools/warehouse.js
tools/watch.js

tools/isobuild/builder.js
tools/isobuild/build-plugin.js
tools/isobuild/bundler.js
tools/isobuild/compiler.js
tools/isobuild/compiler-deprecated-compile-step.js
tools/isobuild/compiler-plugin.js
tools/isobuild/isopack-cache.js
tools/isobuild/isopack.js
tools/isobuild/linker.js
tools/isobuild/linter-plugin.js
tools/isobuild/meteor-npm.js
tools/isobuild/npm-discards.js
tools/isobuild/package-api.js
tools/isobuild/package-source.js
