android_bundle/
dev_bundle/
docs/
examples/
scripts/
!tools/*.js
!tools/isobuild/*.js
!tools/catalog/*.js
!tools/packaging/*.js
!tools/cli/*.js
!tools/runners/*.js
!tools/tool-env/*.js
!tools/fs/*.js

# Below, files that have yet to be converted to match the linter
tools/archinfo.js
tools/auth-client.js
tools/auth.js
tools/buildmessage.js
tools/cleanup.js
tools/colon-converter.js
tools/config.js
tools/console.js
tools/deploy.js
tools/fiber-helpers.js
tools/fs/files.js
tools/fs/mini-files.js
tools/http-helpers.js
tools/inspector.js
tools/index.js
tools/mongo-exit-codes.ts
tools/processes.ts
tools/progress.ts
tools/project-context.js
tools/runners/run-log.js
tools/fs/safe-pathwatcher.js
tools/selftest.js
tools/service-connection.js
tools/shell-client.ts
tools/stats.js
tools/test-utils.js
tools/upgraders.js
tools/utils/utils.js
tools/fs/watch.js

tools/catalog/catalog-local.js
tools/catalog/catalog-remote.js
tools/catalog/catalog.js
tools/catalog/catalog-utils.js

tools/cli/commands-cordova.js
tools/cli/commands-packages-query.js
tools/cli/commands-packages.js
tools/cli/commands.js
tools/cli/main.js

tools/tool-env/flush-buffers-on-exit-in-windows.js
tools/tool-env/install-babel.js
tools/tool-env/isopackets.js
tools/tool-env/profile-require.js
tools/tool-env/profile.js

tools/runners/run-all.js
tools/runners/run-app.js
tools/runners/run-mongo.js
tools/runners/run-proxy.js
tools/runners/run-selenium.js

tools/packaging/package-client.js
tools/packaging/package-map.js
tools/packaging/package-version-parser.js
tools/packaging/release.js
tools/packaging/tropohouse.js
tools/packaging/updater.js
tools/packaging/warehouse.js

tools/isobuild/build-plugin.js
tools/isobuild/builder.js
tools/isobuild/bundler.js
tools/isobuild/compiler-deprecated-compile-step.js
tools/isobuild/compiler-plugin.js
tools/isobuild/compiler.js
tools/isobuild/import-scanner.js
tools/isobuild/isopack-cache.js
tools/isobuild/isopack.js
tools/isobuild/js-analyze.js
tools/isobuild/linker.js
tools/isobuild/linter-plugin.js
tools/isobuild/meteor-npm.js
tools/isobuild/npm-discards.ts
tools/isobuild/package-api.js
tools/isobuild/package-source.js
tools/isobuild/source-arch.js
