android_bundle/
dev_bundle/
docs/
examples/
packages/
scripts/
tools/
!tools/*.js

# Below, files that have yet to be converted to match the linter
tools/auth.js
tools/builder.js
tools/buildmessage.js
tools/bundler.js
tools/catalog-local.js
tools/catalog-remote.js
tools/catalog.js
tools/cleanup.js
tools/colon-converter.js
tools/commands-cordova.js
tools/commands-packages-query.js
tools/commands-packages.js
tools/commands.js
tools/compiler.js
tools/config.js
tools/console.js
tools/deploy.js
tools/fiber-helpers.js
tools/files.js
tools/flush-buffers-on-exit-in-windows.js
tools/func-utils.js
tools/http-helpers.js
tools/inspector.js
tools/isopack-cache.js
tools/isopack.js
tools/isopackets.js
tools/linker.js
tools/main-transpile-wrapper.js
tools/main.js
tools/meteor-npm.js
tools/mongo-exit-codes.js
tools/npm-discards.js
tools/package-api.js
tools/package-client.js
tools/package-map.js
tools/package-source.js
tools/package-version-parser.js
tools/parse-stack.js
tools/processes.js
tools/profile-require.js
tools/profile.js
tools/progress.js
tools/project-context.js
tools/release.js
tools/run-all.js
tools/run-app.js
tools/run-httpproxy.js
tools/run-log.js
tools/run-mongo.js
tools/run-proxy.js
tools/run-selenium.js
tools/run-updater.js
tools/run-velocity.js
tools/safe-pathwatcher.js
tools/selftest.js
tools/service-connection.js
tools/shell-client.js
tools/source-map-retriever-stack.js
tools/stats.js
tools/test-utils.js
tools/tropohouse.js
tools/updater.js
tools/upgraders.js
tools/utils.js
tools/warehouse.js
tools/watch.js
