[submodule "packages/non-core/blaze"]
    path = packages/non-core/blaze
    url = https://github.com/meteor/blaze.git
[submodule "guide/site/themes/meteor"]
	path = guide/site/themes/meteor
	url = https://github.com/meteor/hexo-theme-meteor.git
[submodule "docs/themes/meteor"]
    path = docs/themes/meteor
    url = https://github.com/meteor/hexo-theme-meteor.git
