lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results

npm-debug.log
smart.lock

.idea
.DS_Store
docs/
node_modules/
.npm/
.coverage/

examples/react-teams/.meteor/local/build/programs/server/node_modules
