.DS_Store
/.meteor
*~
/dev_bundle
/dev_bundle*.tar.gz
/android_bundle
/android_bundle*.tar.gz
/node_*.tar.gz
/mongo_*.tar.gz
/dist
\#*\#
.\#*
.idea
*.iml
*.sublime-project
*.sublime-workspace
TAGS
*.log
*.out
npm-debug.log
universe
