# This makes it easier to find GitHub usernames for History.md.
#
# This controls 'git shortlog'. eg, run:
#   git shortlog -s release/METEOR@1.0.1..HEAD
# to get a sorted list of all committers to revisions in HEAD but not
# in 1.0.1.  To get the list including email addresses (useful for input
# to the script below) include --email as well.
#
# For any emails that show up in the shortlog that aren't in one of
# these lists, figure out their GitHub username and add them.
#
# A command-line way to get the GitHub username for an author:
#   scripts/admin/find-author-github.sh 'User Name <foo@bar.com>'
# (Note that this script always outputs GITHUB so you should manually
# check to see if they are an MDG employee!)

GITHUB: 0a- <a@0a.io>
GITHUB: adnissen <andrew_nissen@yahoo.com>
GITHUB: aldeed <eric@dairystatedesigns.com>
GITHUB: AlexeyMK <alexey@alexeymk.com>
GITHUB: andylash <andy@squidnet.com>
GITHUB: ansman <nicklas@ansman.se>
GITHUB: anstarovoyt <andrey.starovoyt@jetbrains.com>
GITHUB: apendua <apendua@gmail.com>
GITHUB: awatson1978 <awatson1978@gmail.com>
GITHUB: awwx <andrew.wilcox@gmail.com>
GITHUB: babenzele <tim.p.phillips@gmail.com>
GITHUB: benweissmann <benweissmann@gmail.com>
GITHUB: bwhitty <bwhitten518@gmail.com>
GITHUB: Cangit <fredricendrerud@gmail.com>
GITHUB: chrisbridgett <me@chrisbridgett.com>
GITHUB: christianbundy <christianbundy@fraction.io>
GITHUB: cmather <mather.chris@gmail.com>
GITHUB: codeinthehole <david.winterbottom@gmail.com>
GITHUB: colllin <collindo@gmail.com>
GITHUB: cryptoquick <faustianightmare@gmail.com>
GITHUB: d4nyll <dan@danyll.com>
GITHUB: dandv <ddascalescu+github@gmail.com>
GITHUB: DanielDent <DanielDent@users.noreply.github.com>
GITHUB: DanielDent <sourcecode@contactdaniel.net>
GITHUB: DanielDornhardt <daniel@dornhardt.com>
GITHUB: davegonzalez <gonzalez.dalex@gmail.com>
GITHUB: DenisGorbachev <Denis.D.Gorbachev@gmail.com>
GITHUB: DenisGorbachev <Denis.Gorbachev@faster-than-wind.ru>
GITHUB: ducdigital <duc@ducdigital.com>
GITHUB: duckspeaker <gallo.j@gmail.com>
GITHUB: ecwyne <ecwyne@users.noreply.github.com>
GITHUB: emgee3 <hello@gravitronic.com>
GITHUB: EOT <eot@gmx.at>
GITHUB: fay-jai <willson.mock@gmail.com>
GITHUB: felixrabe <felix@rabe.io>
GITHUB: FooBarWidget <honglilai@gmail.com>
GITHUB: FredericoC <frederico.carvalho@3stack.com.au>
GITHUB: Gaelan <gbs@canishe.com>
GITHUB: graemian <graeme@graemep.co.za>
GITHUB: gsuess <garic.suess@gmail.com>
GITHUB: hwillson <hugh@octonary.com>
GITHUB: icellan <icellan@icellan.com>
GITHUB: ImtiazMajeed <imtiazmaj@gmail.com>
GITHUB: jacott <geoffjacobsen@gmail.com>
GITHUB: jakozaur <jacek@migdal.pl>
GITHUB: JamesLefrere <jlefrere@gmail.com>
GITHUB: jbruni <contato@jbruni.com.br>
GITHUB: jfhamlin <jfhamlin@gmail.com>
GITHUB: jperl <perl.jonathan@gmail.com>
GITHUB: kentonv <temporal@gmail.com>
GITHUB: kevinchiu <kevin.gc@gmail.com>
GITHUB: knownasilya <ilya@burstcreations.com>
GITHUB: LyuGGang <me@lyuwonkyung.com>
GITHUB: marcandre <github@marc-andre.ca>
GITHUB: mart-jansink <m.jansink@gmail.com>
GITHUB: matteodem <mat.demicheli@gmail.com>
GITHUB: Maxhodges <Max@whiterabbitpress.com>
GITHUB: MaximDubrovin <maxxdubrovin@gmail.com>
GITHUB: meawoppl <meawoppl@gmail.com>
GITHUB: meonkeys <haircut@gmail.com>
GITHUB: michaelbishop <michael@michaelsplace.net>
GITHUB: mitar <mitar.git@tnode.com>
GITHUB: mitar <mitar.github@tnode.com>
GITHUB: mizzao <mizzao@gmail.com>
GITHUB: mquandalle <maxime.quandalle@gmail.com>
GITHUB: mquandalle <maxime@quandalle.com>
GITHUB: murillo128 <sergio.garcia.murillo@gmail.com>
GITHUB: musically-ut <musically.ut@gmail.com>
GITHUB: nathan-muir <ndmuir@gmail.com>
GITHUB: Neftedollar <oildollar@gmail.com>
GITHUB: netanelgilad <netanelgilad@gmail.com>
GITHUB: ogourment <ogourment@smarterportal.com>
GITHUB: ograycode <jason@theograys.com>
GITHUB: OyoKooN <nathan@sxnlabs.com>
GITHUB: paulswartz <paulswartz@gmail.com>
GITHUB: pcjpcj2 <pcjpcj2@gmail.com>
GITHUB: Pent <jon@empire5design.com>
GITHUB: physiocoder <ferro.roberto@email.it>
GITHUB: PooMaster <peter.d.curtis@gmail.com>
GITHUB: prapicault <pascal@rapicault.net>
GITHUB: prapicault <pascal@rapicorp.com>
GITHUB: Primigenus <rchoudhury@gmail.com>
GITHUB: pscanf <paolo.scanferla@mondora.com>
GITHUB: queso <joshua.owens@gmail.com>
GITHUB: rbabayoff <ronen@lavaina.com>
GITHUB: rcy <rcyeske@gmail.com>
GITHUB: rdickert <robert.dickert@gmail.com>
GITHUB: restebanez <restebanez@mdsol.com>
GITHUB: rgoomar <rishig92@gmail.com>
GITHUB: rgould <rwgould@gmail.com>
GITHUB: RichardLitt <richard.littauer@gmail.com>
GITHUB: richguan <guan.rich@gmail.com>
GITHUB: rick-golden-healthagen <rick.golden@healthagen.com>
GITHUB: rissem <rissem@gmail.com>
GITHUB: rjakobsson <robin@hopjakk.se>
GITHUB: RobertLowe <robert@iblargz.com>
GITHUB: romanzolotarev <romanzolotarev@me.com>
GITHUB: rosh93 <rosh93@gmail.com>
GITHUB: ryw <ry@rywalker.com>
GITHUB: rzymek <rzymek@gmail.com>
GITHUB: sdarnell <stephen@darnell.plus.com>
GITHUB: Siilwyn <Siilwyn@users.noreply.github.com>
GITHUB: smallhelm <smallhelm@users.noreply.github.com>
GITHUB: subhog <hubert@orlikarnia.com>
GITHUB: svda <svdakker@gmail.com>
GITHUB: Tarang <Tarang@users.noreply.github.com>
GITHUB: tbjers <torgny@xorcode.com>
GITHUB: thatneat <thatneat@users.noreply.github.com>
GITHUB: timhaines <tmhaines@gmail.com>
GITHUB: timoabend <timo.abend@liquidmotions.de>
GITHUB: tmeasday <tom@thesnail.org>
GITHUB: TomFreudenberg <tom.freudenberg@4commerce.de>
GITHUB: trusktr <joe@trusktr.io>
GITHUB: twhy <tom.wanghaiyi@gmail.com>
GITHUB: Urigo <uri.goldshtein@gmail.com>
GITHUB: waitingkuo <waitingkuo0527@gmail.com>
GITHUB: wulfmeister <wulfmeister@users.noreply.github.com>
GITHUB: yauh <stephan@yauh.de>
GITHUB: yeputons <egor.suvorov@gmail.com>
GITHUB: zol <zol@percolatestudio.com>

METEOR: arbesfeld <arbesfeld@gmail.com>
METEOR: avital <avital@thewe.net>
METEOR: benjamn <ben@meteor.com>
METEOR: benjamn <bn@cs.stanford.edu>
METEOR: debergalis <matt@meteor.com>
METEOR: dgreensp <dgreenspan@alum.mit.edu>
METEOR: ekatek <ekate@meteor.com>
METEOR: estark37 <emily@meteor.com>
METEOR: estark37 <estark37@gmail.com>
METEOR: glasser <glasser@davidglasser.net>
METEOR: glasser <glasser@meteor.com>
METEOR: gschmidt <geoff@geoffschmidt.com>
METEOR: justinsb <justin@fathomdb.com>
METEOR: karayu <lele.yu@gmail.com>
METEOR: mariapacana <maria.pacana@gmail.com>
METEOR: multilinear <mbrewer@meteor.com>
METEOR: n1mmy <nim@meteor.com>
METEOR: sixolet <naomi@meteor.com>
METEOR: Slava <imslavko@gmail.com>
METEOR: Slava <slava@meteor.com>
METEOR: stubailo <s.stubailo@gmail.com>
METEOR: stubailo <sashko@meteor.com>
METEOR: stubailo <sashko@mit.edu>
METEOR: stubailo <sashko@stubailo.com>
METEOR: yyx990803 <yyx990803@gmail.com>
