language: node_js
os: linux
dist: jammy
sudo: required
services: xvfb
node_js:
  - "22.9.0"
cache:
  directories:
    - ".meteor"
    - ".babel-cache"
script:
  - travis_retry ./packages/test-in-console/run.sh
env:
  global:
    - CXX=g++-12
    - phantom=false
    - PUPPETEER_DOWNLOAD_PATH=~/.npm/chromium
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-12
      - libnss3

before_install:
  - cat /etc/apt/sources.list
  - python3 --version
  - echo "deb http://archive.ubuntu.com/ubuntu jammy main universe" | sudo tee -a /etc/apt/sources.list
  - sudo apt-get update
  - sudo apt-get install -y libnss3
