sudo: false
language: node_js

env:
  - NODE_ENV=development

notifications:
  email: false

node_js:
  - 10
  - 12

script:
  - npm run test || travis_terminate 1
  - npm run coveralls

jobs:
  include:
    # Define the release stage that runs semantic-release
    - stage: release
      node_js: 12
      env: NODE_ENV=production
      before_install: skip
      script: skip
      deploy:
        provider: script
        skip_cleanup: true
        script:
          - npx semantic-release
