language: node_js
os: linux
dist: jammy
node_js:
  - "14.17.6"
cache:
  directories:
    - ".meteor"
    - ".babel-cache"
script:
  - travis_retry ./packages/test-in-console/run.sh
env:
  global:
    - CXX=g++-4.11
    - phantom=false
    - PUPPETEER_DOWNLOAD_PATH=~/.npm/chromium
  jobs:
    # We don't want to run the tests without fibers anymore.
    # - DISABLE_FIBERS=1
    # Use a different flag, since node would use false as a string.
    - FIBERS_ENABLED=1
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.11
