<div id="top-nav">
  <ul id="top-nav-links">
    <li>
      <a href="https://www.meteor.com">Meteor.com</a>
    </li>
    <li>
      <a href="https://www.meteor.com/install">Install</a>
    </li>
    <li>
      <a href="https://www.meteor.com/tutorials/blaze/creating-an-app">Tutorials</a>
    </li>
    <li>
      <a href="http://docs.meteor.com">Docs</a>
    </li>
    <li>
      <a href="https://forums.meteor.com/">Forums</a>
    </li>
  </ul>
</div>

<div id="site-nav">
  <a class="logo" href="/">Meteor</a>
  <span class="sub-title">The Official Guide</span>
  <select class="version-select">
    <% config.versions.forEach(function (v) { %>
      <option value="v<%- v %>"><%- v %></option>
    <% }) %>
  </select>
  <!--
    // Search doesn't seem to work well with this provider
    <input class="search-box st-default-search-input">
  -->
</div>
