<div id="top-nav">
  <ul id="top-nav-links">
    <li>
      <a href="https://www.meteor.com">Meteor.com</a>
    </li>
    <li>
      <a href="https://www.meteor.com/install">Install</a>
    </li>
    <li>
      <a href="https://www.meteor.com/tutorials/blaze/creating-an-app">Tutorials</a>
    </li>
    <li>
      <a href="http://docs.meteor.com">Docs</a>
    </li>
    <li>
      <a href="https://forums.meteor.com/">Forums</a>
    </li>
  </ul>
</div>

<div id="site-nav">
  <a id="logo" href="/">Meteor</a>
  <span>The Official Guide</span>
  <!-- we may have more sections here in the future -->
</div>
