<ul id="nav">
  <li class="nav-link">
    <a href="https://www.meteor.com">Meteor.com</a>
  </li>
  <li class="nav-link">
    <a href="https://www.meteor.com/install">Install</a>
  </li>
  <li class="nav-link">
    <a href="https://www.meteor.com/tutorials/blaze/creating-an-app">Tutorials</a>
  </li>
  <li class="nav-link">
    <a href="http://docs.meteor.com">Docs</a>
  </li>
  <li class="nav-link">
    <a href="https://forums.meteor.com/">Forums</a>
  </li>
</ul>
