.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000000;
    opacity: .4;
    z-index: 1;
}

.popup {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 200px;
    width: 200px;
}


.left-panel {
    float: left;
}

.right-panel {
    display: inline;
}

.map {
    border: 1px solid black;
    margin-right: 50px;
}