.header {
    padding: 20px 0;
}

.details {
    margin-top: -18px;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000000;
    opacity: .4;
    z-index: 1;
}

.invite-row .invite {
    margin: 10px 10px 10px 0;
}

.rsvp-buttons {
    text-align: center;
    margin: 40px 0 40px 0;
}

.description {
    margin: 20px 0 20px 0;
}

.attendance .who {
    margin-bottom: 5px;
}

.attendance .invite {
    text-align: center;
}

input.chosen {
    font-weight: bold;
}

.map {
    background-image: url('/soma.jpeg');
    background-position: -20px -20px;
    width: 500px;
    height: 500px;
}
