<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="<%- page.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%- page.title %> | Meteor Guide</title>
    <link rel="icon" href="https://www.meteor.com/favicon.png" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,300italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style/main.css">
  </head>
  <body>
    <%- body %>
    <script src="/script/smooth-scroll.min.js"></script>
    <script src="/script/main.js"></script>
  </body>
</html>
