<template name="admin">
  <div id="admin">
    <a href="/" class="back-desktop"><span class="icon-arrow-left-alt"></span> Back</a>
    <div class="wrapper-admin">
      {{#if isAdmin}}
        <h1 class="title-admin">Admin</h1>

        <form>
          <label>Edit the front page news:</label>
          <textarea name="text" rows="5" placeholder="Show the latest Local Market news on the the frontpage...">{{latestNews.text}}</textarea>
          <button type="submit" class="btn-primary">Save</button>
        </form>
      {{else}}
        <h1 class="title-admin">Forbidden</h1>
        
        {{#unless currentUser}}
          <a class="login">Log in with Twitter</a>
        {{/unless}}
      {{/if}}
    </div>
  </div>
</template>