<template name="bookmarks">
  <div class="page bookmarks">
    {{> nav title='Your Bookmarks' subtext=recipeCount}}

    <div class="content-scrollable">
      <div class="list-recipes">
        {{#each this}}
          {{> recipeItem recipe=this size='large'}}
        {{else}}
          <div class="wrapper-message">
            <div class="title-message">No bookmarks yet</div>
            <div class="subtitle-message">Tap <span class="icon-bookmark-hollow"></span> to bookmark your favorite recipes. <a href="{{pathFor 'home'}}">Return home</a></div>

          </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>