<template name="join">
  <div class="page auth">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-auth">
        <h1 class="title-auth">Join.</h1>
        <p class="subtitle-auth" >Joining allows you to make private lists</p>

        <form>
          {{#if errorMessages}}
            <div class="list-errors">
              {{#each errorMessages}}
                <div class="list-item">{{this}}</div>
              {{/each}}
            </div>
          {{/if}}

          <div class="input-symbol  {{errorClass 'email'}}">
            <input type="email" name="email" placeholder="Your Email" />
            <span class="icon-email" title="Your Email"></span>
          </div>

          <div class="input-symbol  {{errorClass 'password'}}">
            <input type="password" name="password" placeholder="Password" />
            <span class="icon-lock" title="Password"></span>
          </div>

          <div class="input-symbol {{errorClass 'confirm'}}">
            <input type="password" name="confirm" placeholder="Confirm Password" />
            <span class="icon-lock" title="Confirm Password"></span>
          </div>

          <button type="submit" class="btn-primary">Join Now</button>
        </form>
      </div>

      <a href="{{pathFor 'signin'}}" class="link-auth-alt">Have an account? Sign in</a>
    </div>
  </div>
</template>