#list {
  margin-top: 8px;
}

#list div {
  padding: 10px;
  border: 1px solid #bbb;
  margin: 0 8px 8px 8px;
  font-weight: bold;
  cursor: move;
  width: 400px;
}

#list div.item {
  background: #eee;
}

#list div.footer {
  background: #39b;
}

