<?xml version='1.0' encoding='utf-8'?>
<!--
  <copyright file="wixstdba_x86.wxs" company="Outercurve Foundation">
    Copyright (c) 2004, Outercurve Foundation.
    This software is released under Microsoft Reciprocal License (MS-RL).
    The license and further copyright text can be found in the file
    LICENSE.TXT at the root directory of the distribution.
  </copyright>
-->
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <?define platform=x86 ?>
  <?include wixstdba_platform.wxi ?>
</Wix>