# Each individual example should include 'local' in foo/.meteor/.gitignore.
# However, we also include this top-level .gitignore so that the following
# situation:
#    $ git checkout some-branch-with-a-new-example
#    $ (cd examples/unfinished/new-example; meteor)
#    $ git checkout devel
# doesn't leave you with tons of files in
# examples/unfinished/new-example/.meteor/local showing up in your 'git status'.

*/.meteor/local
*/*/.meteor/local

# We don't want to check example project id files into the main meteor
# repo... but we do want users who create apps from the examples to check
# *their* project id files into their repos, so we put this ignore line
# here rather than in the examples/FOO/.meteor/.gitignore.
*/.meteor/.id
