body {
    margin: 25px 100px 25px 100px;
    background-color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, san-serif;
    line-height: 1.3;
}

.section {
    font-size: 2em;
    color: black;
    text-decoration: underline;
    margin-top: 30px;
}

.begin {
    font-size: 1.5em;
    color: black;
}

.ok {
    margin-left: 10px;
}

.fail, .assert, .exception {
    color: red;
    font-weight: bold;
    margin-left: 10px;
}

.assert .expected, .assert .actual {
    margin-left: 10px;
    font-weight: normal;
    font-style: italic;
    font-size: .8em;
}