Source: meteor
Section: unknown
Priority: extra
Maintainer: Meteor Deb Packager <debian@meteor.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/meteor.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/meteor.git;a=summary

Package: meteor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
