$first-style = dotted
@import "subdir/foo.import.styl"

.el1 { border-style: $first-style; }
.el2 { border-style: $el2-style; }
.el3 { border-style: $el3-style; }

@import "{local-pack}/p.styl"
.el4 { border-style: $el4-style; }
