{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "@ui": "./imports/ui",
        "@api": "./imports/api"
      }
    }]
  ]
}
