#content
  max-width 720px
  margin 0px auto

  h1, h2, h3, h4, h5, h6, p, ul, ol, figure
    margin 15px 0
    line-height 1.4em
  
  h1
    font-size 2em
    margin-top 0
    margin-bottom 30px

  h2
    font-size 1.5em
    margin-top 30px
    padding-bottom 10px
    border-bottom 1px solid #eee
    
  ul, ol
    list-style-type disc
    padding-left 1.5em

  a
    color #de4f4f

  figure
    background-color #f8f8f8
    padding 20px 30px
    font-family Menlo, Monaco, Consolas, "Courier New", monospace
    font-size 0.85em
    .gutter
      color #ccc
      padding-right 30px
