code-font()
  font-family Menlo, Monaco, Consolas, "Courier New", monospace
  font-size 0.8em
  line-height 1.6em

#content
  max-width 760px
  margin 0px auto
  -webkit-text-size-adjust: 100%;

  em
    font-style italic

  strong
    font-family 'ProximaNova-Bold'

  h1, h2, h3, h4, h5, h6, p, ul, ol, figure
    margin 15px 0
    line-height 1.4em

  h1
    font-size 2em
    margin-top 0
    margin-bottom 30px

  h2
    font-size 1.5em
    margin-top 30px
    padding-bottom 10px
    border-bottom 1px solid #eee

  h3
    font-size 1.2em
    margin-top 30px

  h2, h3
    position relative
    .anchor
      opacity 0
      position absolute
      font-size 16px
      top 2px
      left -21px
    &:hover
      .anchor
        opacity 1

  ul, ol
    padding-left 1.5em
    li
      margin-bottom 5px

  ul
    list-style-type disc

  ol
    list-style-type decimal

  a
    color #de4f4f

  img
    max-width 100%

  code
    code-font()
    padding 1px 4px
    background-color #eee
    margin 0 2px

  blockquote
    padding-left 1.3em
    border-left #eee solid 0.2em
    font-style italic

  .highlight
    code-font()
    margin 20px 0
    overflow-x auto
    position relative
    background-color #f8f8f8
    padding 20px 30px
    table, tr, td
      width 100%
      border-collapse collapse
      padding 0
      margin 0
    .gutter
      user-select none
      width 1.5em
      padding-right 30px
    &.html, &.js, &.bash, &.css
      .code:after
        font-family 'ProximaNova-Semibold'
        position absolute
        top 0
        right 0
        color #ccc
        text-align right
        font-size .75em
        padding 5px 10px 0
        letter-spacing 1.5px
        line-height 15px
        height 15px
        font-weight 600
      &.html .code:after
        content 'HTML'
      &.js .code:after
        content 'JS'
      &.bash .code:after
        content 'Shell'
      &.css .code:after
        content 'CSS'

  > table
    width 100%
    margin 20px 0
    tr
      border-top 1px solid #eee
      &:nth-child(2n)
        background-color #f8f8f8
    th
      font-family 'ProximaNova-Semibold'
      padding 12px 13px
    th, td
      border 1px solid #eee
      vertical-align middle
    td
      padding 6px 13px
      code-font()

  .bottom-nav
    height 44px
    margin 30px 0 25px
    border-bottom 1px solid #eee
    padding-bottom 25px
    a
      font-family 'ProximaNova-Semibold'
      margin 0 5px

  .edit-link
    text-align center
    a
      color #aaa
      font-family 'ProximaNova-Semibold'
      &:before
        content ''
        display inline-block
        width 16px
        height 16px
        background url(../images/gh.png) center center no-repeat
        background-size 16px
        opacity 0.3
        margin-right 8px
        position relative
        top 2px
