@font-face
  font-family 'ProximaNova-Semibold'
  src url('/webfonts/2C4B9D_C_0.eot')
  src url('/webfonts/2C4B9D_C_0.eot?#iefix') format('embedded-opentype'),
      url('/webfonts/2C4B9D_C_0.woff2') format('woff2'),
      url('/webfonts/2C4B9D_C_0.woff') format('woff'),
      url('/webfonts/2C4B9D_C_0.ttf') format('truetype')
