/**
 * @license
 * MyFonts Webfont Build ID 2902941, 2014-10-16T01:12:26-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: ProximaNovaA-Thin by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/a-thin/
 * Copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
 * Licensed pageviews: 1,000,000
 * 
 * Webfont: ProximaNovaS-Thin by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/s-thin/
 * Copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
 * Licensed pageviews: 1,000,000
 * 
 * Webfont: ProximaNovaA-Bold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/a-bold/
 * Copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
 * Licensed pageviews: 1,000,000
 * 
 * Webfont: ProximaNovaS-Regular by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/s-regular/
 * Copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
 * Licensed pageviews: 1,000,000
 * 
 * Webfont: ProximaNovaS-Semibold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/s-semibold/
 * Copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
 * Licensed pageviews: 1,000,000
 * 
 * Webfont: ProximaNovaS-Bold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/s-bold/
 * Copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
 * Licensed pageviews: 1,000,000
 * 
 * Webfont: ProximaNovaA-Light by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/a-light/
 * Copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
 * Licensed pageviews: 1,000,000
 * 
 * Webfont: ProximaNovaA-Semibold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/a-semibold/
 * Copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
 * Licensed pageviews: 1,000,000
 * 
 * Webfont: ProximaNovaA-Regular by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/a-regular/
 * Copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
 * Licensed pageviews: 1,000,000
 * 
 * Webfont: ProximaNovaS-Light by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/s-light/
 * Copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
 * Licensed pageviews: 1,000,000
 * 
 * Webfont: ProximaNovaT-Thin by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/thin/
 * Copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
 * Licensed pageviews: 1,000,000
 * 
 * Webfont: ProximaNova-Light by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/light/
 * Copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
 * Licensed pageviews: 1,000,000
 * 
 * Webfont: ProximaNova-Semibold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/semibold/
 * Copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
 * Licensed pageviews: 1,000,000
 * 
 * Webfont: ProximaNova-Regular by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/regular/
 * Copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
 * Licensed pageviews: 1,000,000
 * 
 * Webfont: ProximaNova-Bold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/bold/
 * Copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
 * Licensed pageviews: 1,000,000
 * 
 * Webfont: VanCondensedPro by Vanarchiv
 * URL: http://www.myfonts.com/fonts/rsantos/van-condensed/regular/
 * Copyright: Copyright (c) 2014 by Vanarchiv Type Foundry. All rights reserved.
 * Licensed pageviews: 100,000
 * 
 * Webfont: AktivGrotesk-Light by Dalton Maag
 * URL: http://www.myfonts.com/fonts/daltonmaag/aktiv-grotesk/light/
 * Copyright: Copyright &#x00A9; 2013 Dalton Maag Ltd. All rights reserved. This font may not be altered in any way without prior permission of Dalton Maag Ltd.
 * Licensed pageviews: 100,000
 * 
 * Webfont: AktivGrotesk-Medium by Dalton Maag
 * URL: http://www.myfonts.com/fonts/daltonmaag/aktiv-grotesk/medium/
 * Copyright: Copyright &#x00A9; 2013 Dalton Maag Ltd. All rights reserved. This font may not be altered in any way without prior permission of Dalton Maag Ltd.
 * Licensed pageviews: 100,000
 * 
 * Webfont: AktivGrotesk-Regular by Dalton Maag
 * URL: http://www.myfonts.com/fonts/daltonmaag/aktiv-grotesk/regular/
 * Copyright: Copyright &#x00A9; 2013 Dalton Maag Ltd. All rights reserved. This font may not be altered in any way without prior permission of Dalton Maag Ltd.
 * Licensed pageviews: 100,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2902941
 * 
 * © 2014 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2c4b9d");

@font-face {font-family: 'ProximaNova-Light';src: url('/webfonts/2C4B9D_B_0.eot');src: url('/webfonts/2C4B9D_B_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/2C4B9D_B_0.woff2') format('woff2'),url('/webfonts/2C4B9D_B_0.woff') format('woff'),url('/webfonts/2C4B9D_B_0.ttf') format('truetype');}

@font-face {font-family: 'ProximaNova-Semibold';src: url('/webfonts/2C4B9D_C_0.eot');src: url('/webfonts/2C4B9D_C_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/2C4B9D_C_0.woff2') format('woff2'),url('/webfonts/2C4B9D_C_0.woff') format('woff'),url('/webfonts/2C4B9D_C_0.ttf') format('truetype');}

@font-face {font-family: 'ProximaNova-Regular';src: url('/webfonts/2C4B9D_D_0.eot');src: url('/webfonts/2C4B9D_D_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/2C4B9D_D_0.woff2') format('woff2'),url('/webfonts/2C4B9D_D_0.woff') format('woff'),url('/webfonts/2C4B9D_D_0.ttf') format('truetype');}

@font-face {font-family: 'ProximaNova-Bold';src: url('/webfonts/2C4B9D_E_0.eot');src: url('/webfonts/2C4B9D_E_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/2C4B9D_E_0.woff2') format('woff2'),url('/webfonts/2C4B9D_E_0.woff') format('woff'),url('/webfonts/2C4B9D_E_0.ttf') format('truetype');}
