#header
  font-family 'ProximaNova-Semibold'

#top-nav
  height 30px
  line-height 30px
  background-color #27272b

#top-nav-links
  list-style-type none
  position absolute
  top 0
  right 30px
  li
    float left
    margin-left 20px
  a
    display inline-block
    height 30px
    padding 0 5px
    color #fff
    font-size 10px
    letter-spacing 1.5px
    text-transform uppercase

#site-nav
  position relative
  height 70px
  background-color #fff
  border-bottom 1px solid #eee
  padding 14px 30px
  a, span, select
    vertical-align bottom
  .sub-title
    margin 0 8px
    position relative
    top 1px
  .logo
    display inline-block
    width 150px
    height 36px
    text-indent -9999px
    background url(https://www.meteor.com/assets/meteor-logo.png)
    background-size 100%
  .search-box
    position absolute
    right 30px
    top 20px

#mobile-header
  position fixed
  top 0
  left 0
  width 100%
  height 40px
  background-color #fff
  display none
  box-shadow 0 0 4px rgba(0,0,0,.25)
  .menu-button
    position absolute
    width 24px
    height 24px
    top 8px
    left 12px
    background url(../images/menu.png) center center no-repeat
    background-size 24px
    opacity .5
  .logo
    position absolute
    width 30px
    height 30px
    background url(../images/logo.svg) center center no-repeat
    top 5px
    left 50%
    margin-left -15px
    background-size 30px
