#header
  font-family 'ProximaNova-Semibold'

#top-nav
  height 30px
  line-height 30px
  background-color #27272b

#top-nav-links
  list-style-type none
  position absolute
  top 0
  right 30px
  li
    float left
    margin-left 20px
  a
    display inline-block
    height 30px
    padding 0 5px
    color #fff
    font-size 10px
    letter-spacing 1.5px
    text-transform uppercase

#site-nav
  height 70px
  background-color #fff
  border-bottom 1px solid #eee
  padding 14px 30px
  a, span, select
    vertical-align bottom

#logo
  display inline-block
  width 150px
  height 36px
  text-indent -9999px
  background url(https://www.meteor.com/assets/meteor-logo.png)
  background-size 100%
  margin-right 10px
