#header
  font-family 'ProximaNova-Semibold'

#top-nav
  height 30px
  line-height 30px
  background-color #27272b

#top-nav-links
  list-style-type none
  position absolute
  top 0
  right 30px
  li
    float left
    margin-left 20px
  a
    display inline-block
    height 30px
    padding 0 5px
    color #fff
    font-size 10px
    letter-spacing 1.5px
    text-transform uppercase

#site-nav
  position relative
  height 70px
  background-color #fff
  border-bottom 1px solid #eee
  padding 14px 30px
  a, span, select
    vertical-align bottom
  .sub-title
    margin 0 8px
    position relative
    top 1px

#logo
  display inline-block
  width 150px
  height 36px
  text-indent -9999px
  background url(https://www.meteor.com/assets/meteor-logo.png)
  background-size 100%

#search
  position absolute
  right 30px
  top 20px
  outline none
  font-family 'ProximaNova-Regular'
  font-size 14px
  padding 6px 12px 5px 32px
  border-radius 20px
  border 1px solid #ddd
  background url(../images/search.png) 8px 5px no-repeat
  background-size 20px
  transition border-color .25s ease
  &:focus
    border-color #de4f4f
