@import './reset.styl'
@import './fonts.styl'

body
  font-family 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size 16px
  font-weight 400
  color #444

h1, h2, h3, h4, h5, h6
  font-family 'ProximaNova-Semibold'
  font-weight 200

#wrap
  padding-top 100px
  padding-left 300px
  height 100%

#header
  position fixed
  z-index 2
  top 0
  left 0
  width 100%
  height 100px

#sidebar
  background-color #fff
  position fixed
  z-index 2
  top 100px
  left 0
  bottom 0
  width 300px
  padding 20px 30px
  overflow-x hidden
  overflow-y scroll
  -webkit-overflow-scrolling touch
  -ms-overflow-style none
  &::-webkit-scrollbar
      width: 0 !important

#content
  padding 20px 30px

#mobile-header
  z-index 3
  
#mobile-shade
  z-index 1
  display none
  pointer-events none
  opacity 0
  transition opacity .3s ease
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background-color rgba(0,0,0,.4)

.search-box.st-default-search-input
  width 200px
  background-color #fff
  outline none
  font-family 'ProximaNova-Regular'
  font-size 14px
  padding 7px 12px 6px 32px
  border-radius 20px
  border 1px solid #ddd
  background url(../images/search.png) 8px 6px no-repeat
  background-size 20px
  transition border-color .25s ease
  &:focus
    border-color #de4f4f

// components
@import './header.styl'
@import './sidebar.styl'
@import './content.styl'
@import './syntax.styl'
@import './mobile.styl'
