#sidebar
  font-family 'ProximaNova-Semibold'
  border-right 1px solid #eee
  font-size 16px
  line-height 1.2em
  li
    margin-bottom 15px
  a
    color #444
    &.current, &:hover
      color #de4f4f

  .sub-menu
    font-family 'ProximaNova-Regular'
    padding-left 20px
    margin 15px 0
    font-size 14px
