#sidebar
  font-family 'ProximaNova-Semibold'
  border-right 1px solid #eee
  font-size 16px
  line-height 1.1em
  li
    margin-bottom .6em
  a
    color #444
    &.current, &:hover
      color #de4f4f
    &.H2
      font-weight bold

  .sub-menu
    font-family 'ProximaNova-Regular'
    padding-left 20px
    margin .6em 0
    font-size 14px
    .active
      position relative
      color #de4f4f
      &:before
        content ""
        position absolute
        top 2px
        left -15px
        display inline-block
        width 0
        height 0
        border-top 4px solid transparent
        border-bottom 4px solid transparent
        border-left 6px solid #de4f4f

#sidebar-mobile
  display none
  margin-bottom 20px
  .search-box
    width 200px
    margin-bottom 20px
