/* CSS declarations go here */

@-webkit-keyframes spinForward {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
} 

@-webkit-keyframes spinBackward {
  from {-webkit-transform: rotate(360deg);}
  to {-webkit-transform: rotate(0deg);}
} 

.spinner {
  width: 100px;
  border: 2px solid black;
  font-weight: bold;
  text-align: center;
  background: white;
}

