<!doctype html>
<html lang=en-us>
  <head>
    <meta charset=utf-8>
    <link rel="stylesheet" href="/css/github.css" />
    <link rel="stylesheet" href="/css/highlight.css" />
  </head>

  <body>
    <div class="sidebar">
      <ul>
        {% for page in site.pages %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="markdown-body">
      <h3>Placeholder table of contents below</h3>
      <div id="toc"></div>

      {{content}}
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js" ></script>
    <script type="text/javascript" src="/js/toc.js" ></script>
    <script type="text/javascript">
      $(document).ready(function() {
          $('#toc').toc({
            headers: '.markdown-body h2, .markdown-body h3, .markdown-body h4',
            showSpeed: 0
          });
      });
    </script>
  </body>
</div>
