@media (min-width: 980px) {
  /* wide devices - full navbar */ 

  /* push down content under fixed navbar */
  body {
    padding-top:60px;
    padding-bottom:40px;
    }

}


/**
 * front-and-center signin form
 */
.signin {
  width:100%;
  text-align:center;
}
.signin .login-form {
  width:200px;
  margin: 0 auto;
  position:relative;
  text-align:left;
}
.signin .login-form {
}
.signin .login-close-text {
  display:none;
}
.signin #login-buttons {
}
.signin .additional-link-container {
  display:none;
}
.signin .example-users {
  width:350px;
  margin: 0 auto;
  position:relative;
  text-align:left;
  top:15em;
  left:3em;
}

/**
 * header
 */
#err .close {
  float:none;
  margin-left:1em;
}

/**
 * note of the day
 */
.note {
  margin:1em 0em;
  padding:1em;
  border:1px solid #ccc;
}

/**
 * security-note
 */
.security-note {
  margin-top:10em;
}
