Source: meteor
Section: web
Priority: extra
Maintainer: Meteor Deb Packager <debian@meteor.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://meteor.com
Vcs-Git: git://github.com/meteor/meteor.git

Package: meteor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:  A platform for building HTML5 websites in JavaScript.
 Database Everywhere: Use the same database APIs on the client that you already use on the server. Thanks to latency compensation, client-side reads and writes can be served from a cache - no waiting on the network.
 .
 Realtime is the Default: When one user writes to the database, if any other users are looking at that same data, their screens can update automatically. It's like Etherpad for structured data.
 .
 Smart Packages: Meteor's Packages are actually little programs that can inject code into the client or the server, or even hook into the bundler to preprocess your source.
 .
 Instant Deployment: Type meteor deploy <url> and your app is live on the internet. It's so easy to share works in progress, or to let others fork your app and collaborate.
