name: NPM meteor-babel
on:
  push:
    paths:
      - "npm-packages/meteor-babel/**"
  pull_request:
    paths:
      - "npm-packages/meteor-babel/**"

permissions:
  contents: read  #  to fetch code (actions/checkout)

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: npm-packages/meteor-babel
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: npm
      - run: npm ci
      - run: npm run test
