name: NPM eslint-plugin-meteor
on:
  push:
    paths:
      - "npm-packages/eslint-plugin-meteor/**"
  pull_request:
    paths:
      - "npm-packages/eslint-plugin-meteor/**"

permissions:
  contents: read  #  to fetch code (actions/checkout)

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: npm-packages/eslint-plugin-meteor
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: npm
      - run: npm ci
      - run: npm test
