//-------------------------------------------------------------------------------------------------
// <copyright file="wixstdba.rc" company="Outercurve Foundation">
//   Copyright (c) 2004, Outercurve Foundation.
//   This software is released under Microsoft Reciprocal License (MS-RL).
//   The license and further copyright text can be found in the file
//   LICENSE.TXT at the root directory of the distribution.
// </copyright>
//
// <summary>
// WiX Extendend Bootstrapper Application resource file.
// </summary>
//-------------------------------------------------------------------------------------------------

#define VER_APP
#define VER_ORIGINAL_FILENAME "wixextba.dll"
#define VER_INTERNAL_NAME "wixextba"
#define VER_PRODUCT_NAME "WiX Extendend Bootstrapper Application"
#define VER_FILE_DESCRIPTION "WiX Extendend Bootstrapper Application"
#include "wix.rc"
